/* src/app/home/home.component.css */
.container {
    text-align: center;
    margin: 20px;
    padding: 20px;
  }
  
  h2 {
    font-size: 2rem;
    color: #007BFF;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 1.2rem;
    color: #333;
  }
  